<!DOCTYPE html>
<html>
<head>
  <title><%= title %></title>
  <link href="/stylesheets/jquery-ui.css" rel="stylesheet">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,400italic">
  <link rel="stylesheet" href="//ajax.googleapis.com/ajax/libs/angular_material/1.1.0-rc2/angular-material.min.css">

  <style>
    /*.toolbardemoBasicUsage md-toolbar md-icon.md-default-theme {
      color: white; }*/
    html{
      background: url("/images/stripes.png") repeat;
    }

  </style>

  <!-- Angular Material Dependencies -->
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.js"></script>
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular-animate.js"></script>
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular-aria.js"></script>
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular-messages.js"></script>
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular-route.js"></script>
  <script src="http://ngmaterial.assets.s3.amazonaws.com/svg-assets-cache.js"></script>
  <script src="//ajax.googleapis.com/ajax/libs/angular_material/1.1.1/angular-material.min.js"></script>

  <!--Custom angular files-->
  <script src="/javascripts/custom/controllers/MainCtrl.js"></script>

</head>

<body>



<div ng-controller="AppCtrl" ng-cloak="" ng-app="MyApp">

  <!--Material-design menu panel-->

  <md-content>
    <md-toolbar>
      <div class="md-toolbar-tools">
        <md-button aria-label="Game settings">
          Сеттинги
        </md-button>
        <h2>
          <span>TRPG-online</span>
        </h2>
        <span flex=""></span>
        <md-button aria-label="My subscribtions">
          Мои подписки
        </md-button>
        <md-button class="md-fab md-mini" aria-label="Logout">
          <md-icon md-svg-icon="arrow-drop-up"></md-icon>
        </md-button>
      </div>
    </md-toolbar>

    <!--Here should be a data-->
    <ng-view></ng-view>
<!--    <script type="text/ng-template" id="/settings.html"
            ng-include="'/javascripts/custom/templates/Settings.html'"></script>-->

  </md-content>
</div>

</body>
<!--<script type="text/javascript">
  window.onload = function(){
    $("#mainMenu").tabs();
  }-->

</html>
