<!DOCTYPE html>
<html>
<head>
	<title>Sandbox</title>
	<link href="/stylesheets/jquery-ui.css" rel="stylesheet">
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,400italic">
	<link rel="stylesheet" href="//ajax.googleapis.com/ajax/libs/angular_material/1.1.0-rc2/angular-material.min.css">

	<style>
		.toolbardemoBasicUsage md-toolbar md-icon.md-default-theme {
			color: white; }

	</style>

	<!-- Angular Material Dependencies -->
	<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.js"></script>
	<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular-animate.js"></script>
	<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular-aria.js"></script>
	<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular-messages.js"></script>
	<script src="http://ngmaterial.assets.s3.amazonaws.com/svg-assets-cache.js"></script>


	<script src="//ajax.googleapis.com/ajax/libs/angular_material/1.1.1/angular-material.min.js"></script>

	<script>
		//System.import('app').catch(function(err){ console.error(err); });
		angular.module('menu', ['ngMaterial']);
	</script>
</head>

<body>

<script>
	angular.module('MyApp',['ngMaterial', 'ngMessages', 'material.svgAssetsCache'])
			.config(function($mdThemingProvider){
				$mdThemingProvider.theme('default')
						.primaryPalette('teal')
						.accentPalette('blue-grey')
			})
			.controller('AppCtrl', function($scope) {
			});
</script>

<div ng-controller="AppCtrl" ng-cloak="" class="toolbardemoBasicUsage" ng-app="MyApp">

	<md-content>

		<br>

		<md-toolbar>
			<!--class="md-hue-1">-->
			<div class="md-toolbar-tools">
				<md-button class="md-icon-button" aria-label="Settings" ng-disabled="true">
					<md-icon md-svg-icon="img/icons/menu.svg"></md-icon>
				</md-button>
				<h2>
					<span>Toolbar with Disabled/Enabled Icon Buttons</span>
				</h2>
				<span flex=""></span>
				<md-button class="md-icon-button" aria-label="Favorite">
					<md-icon md-svg-icon="img/icons/favorite.svg" style="color: greenyellow;"></md-icon>
				</md-button>
				<md-button class="md-icon-button" aria-label="More">
					<md-icon md-svg-icon="img/icons/more_vert.svg"></md-icon>
				</md-button>
			</div>
		</md-toolbar>

		<br>

		<md-toolbar>
			<div class="md-toolbar-tools">
				<md-button aria-label="Go Back">
					Go Back
				</md-button>
				<h2>
					<span>Toolbar with Standard Buttons</span>
				</h2>
				<span flex=""></span>
				<md-button class="md-raised" aria-label="Learn More">
					Learn More
				</md-button>
				<md-button class="md-fab md-mini" aria-label="Favorite">
					<md-icon md-svg-icon="img/icons/favorite.svg"></md-icon>
				</md-button>
			</div>
		</md-toolbar>

		<br>

		<md-toolbar class="md-tall md-accent">
			<h2 class="md-toolbar-tools">
				<span>Toolbar: tall (md-accent)</span>
			</h2>
		</md-toolbar>

		<br>

		<md-toolbar class="md-tall md-warn md-hue-3">
			<span flex=""></span>
			<h2 class="md-toolbar-tools">
				<span class="md-flex">Toolbar: tall with actions pin to the bottom (md-warn md-hue-3)</span>
			</h2>
		</md-toolbar>
	</md-content>
</div>

</body>
<!--<script type="text/javascript">
  window.onload = function(){
    $("#mainMenu").tabs();
  }-->

</html>
