<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link href="/stylesheets/jquery-ui.css" rel="stylesheet">
  </head>
  <body>
  <div class="ui-menu">SomeText</div>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
  </body>
  <script src="/javascripts/jquery.js"></script>
  <script src="/javascripts/jquery-ui.js"></script>
  <script src="/javascropts/angular.js"></script>
</html>
