<!--Here comes data on page-->

<div layout="column"  layout-margin layout-wrap layout-fill
     ng-cloak>

    <md-card md-whiteframe="5"
             flex="70"
             layout="row" layout-align="space-around center">
        <img flex="30" src="/images/fallout.png" class="md-card-image "/>
        <div layout="column">
            <md-card-content flex>Lorem ipsum bla bla bla... Lorem ipsum bla bla bla... Lorem ipsum bla bla bla... Lorem ipsum bla bla bla... Lorem ipsum bla bla bla... Lorem ipsum bla bla bla... Lorem ipsum bla bla bla... Lorem ipsum bla bla bla... Lorem ipsum bla bla bla... Lorem ipsum bla bla bla... Lorem ipsum bla bla bla... Lorem ipsum bla bla bla... Lorem ipsum bla bla bla... Lorem ipsum bla bla bla... Lorem ipsum bla bla bla... Lorem ipsum bla bla bla... Lorem ipsum bla bla bla... Lorem ipsum bla bla bla... Lorem ipsum bla bla bla... Lorem ipsum bla bla bla... Lorem ipsum bla bla bla... Lorem ipsum bla bla bla... Lorem ipsum bla bla bla... Lorem ipsum bla bla bla... </md-card-content>
            <md-card-actions layout="row" layout-align="end center">
                <md-button>Активные игры</md-button>
                <md-button>Архив</md-button>
            </md-card-actions>
        </div>
    </md-card>

    <!--A plus sign to add settings-->

    <div layout layout-fill layout-align="end start">
        <md-button class="md-fab md-mini" aria-label="Add new">
            <md-icon md-svg-icon="add"></md-icon>
        </md-button>
    </div>
</div>